.blog-header {
	background: #76c7c0 url("../img/ruler_btm.png") repeat-x bottom;
	/*height: 6.7em;*/
	content:"";
	text-align: center;
	line-height: 3.3em;
}

.blog-header a, .blog-menu > li {
	display: table;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.logo {
	font-size: 2em;
	font-weight: bold;
	line-height: 3.2em;	
	text-transform: uppercase;
	float: left;
}

.logo span {
	font-size: 18px;
	font-weight: lighter;
	padding: 0.41em;
	text-transform: uppercase;
}

.blog-header a {
	float: left;
}

.blog-header  a:hover, li a:hover {
	color: #fff;
	text-decoration: none;
}

.blog-menu {
	padding: 1.4em 0;
}

.blog-menu > li {
	float: right;
	font-size: 0.83em;
	padding: 0.83em 1.67em;
	line-height: 1.67em;
}

.blog-menu > li:first-child {
	padding-right: 0;
	margin-right: 0;
}

.blog-menu li:hover {
	background-color: #62a29e; 
	border-radius: 0.4em;
	/*box-shadow: 0 2px 5px #528b86;*/
	border-bottom: 0.25em solid #528b86;
}

li.search {
	display: inline-block;
	height: 3.33em;
	width: 3.33em;
	background: #e8645a url('../img/sprite_1.png') no-repeat 9px 152px;
	background-position-y: 74%;
	border-radius: 0.4em;
	border-bottom: 0.25em solid #e2534b;
}

li.search  {
	margin: 0.4em 0 0 0.83em;
}

.search-field {
	display: none;
	width: 16.67em;
    height: 3.33em;
    position: relative;
    top: 2.9em;
    right: 15.4em;
}

.search-field input {
	display: inline-block;
    width: 16.67em;
    height: 3.33em;
    border: 0.41em solid #e8645a;
    border-radius: 0.4em;
	margin-top: -0.25em;
    background: #fff;
    color: #8a9595;
    padding-left: 0.83em;
    outline: none;
}

.search-triangle {
	float: right;
    position: relative;
    top: -8%;
    right: 7%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.5em 0.5em 0.5em;
    border-color: transparent transparent #e8645a transparent;
}

.blog-menu li:hover > div {
	display: inline-block;
}

.blog-header .blog-container.blog-row:before, .blog-header .blog-container.blog-row:after {
	margin-bottom: 0;
}

/* DROPDOWN */

.dropdown-menu {
	background-color: #f3f3f3;
  	font-size: 0.9em;
  	margin-top: 3.33em;
  	display: none;
  	border: 0.083em solid #ccc;
  	border-radius: 0.4em;
  	position: absolute;
  	width: 6em;
  	padding: 0.5em 0.25em;
}

ul.dropdown-menu  {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	text-indent: -1em;
	line-height: 2em;
}

.dropdown-menu li a {
  	/*padding: 2px;*/
  	color: #7f8c8c;
  	font-weight: 300;
 	display: block;
	list-style-type: none;
	top: 50%;
	left: 50%;
	transform: translate(55%, 0);
}