/* BASE */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #7f8c8c;
	font: 12px 'Open Sans', Arial, sans-serif;
	background-color: #f3f3f3;
}

label {
	color: teal;
	cursor: pointer;
	text-decoration: none;
}

h1, h1, h3, h4 {
	margin-bottom: 0.8em;
}

h4, .h4 {
	font-size: 1.3em;
}

img, embed, object, video {
	max-width: 100%;
}

[class*="fa-"] {
	color: #ececec;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.row:before, .row:after {		
	content:"";
	display: table ;
	clear:both;
}

.blog-row:before, .blog-row:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 3.3em;
}

[class*="blog-cell-"] {
	float: left;
	margin-right: 3%;
	text-align: center;
	line-height: 1.6em;
}

[class*="blog-cell-"]:last-of-type {
	margin-right: 0 !important;
}	

.my-cell-1 {
	width: 8.5%;
}

.blog-cell-2 {
	width: 20.5%;
}

.blog-cell-3 {
	width: 31.5%;
}

.blog-cell-4 {
	width: 46.5%;
}

.blog-cell-5 {
	width: 71.5%;
}

.blog-cell-6 {
	width: 100%;
}

.blog-container {
	margin: 0 auto;
	width: 78%;
}


@media screen and (max-width: 1230px) {
	.sidebar-gallery .gallery li:nth-child(3n+3) {
		margin-right: 2.5em;
	} 
	.gallery li i.fa-4x {
		padding: 25% 18%;
		font-size: 1.8em;
	}
}

@media screen and (max-width: 1167px) {
	.blog-footer .blog-cell-3 {
		margin-right: 0;
		width: 25%;
	} 
}

@media screen and (max-width: 959px) {
	.blog-footer .blog-cell-3 {
		margin-right: 0;
		width: 24%;
	} 
}

@media screen and (max-width: 921px) {
	.blog-footer .blog-cell-3 .footer-contact-value {
		font-size: 1em;
	} 
}


@media screen and (max-width: 868px) {
	.blog-menu li {
		padding: % %;

	}
}

