.sidebar-gallery {
	/*display: inline-block;*/
	height: 22.5em;
	margin-top: 4.2em;
}

.sidebar-gallery h6 {
	font-size: 1em;
	text-align: left;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #7f8c8c;
}

ul.gallery {
	list-style-type: none;
}

.gallery li {
	display: inline-block;
	float: left;
	margin: 2em 2.5em 0 0;
	height: 5em;
	width: 5em;
	background-color: #f8f8f8;
	border-radius: 0.4em;
	border-bottom: 0.25em solid #e5e6e6;
}

.gallery li:nth-child(3n+3) {
	margin-right: 0;
}

.gallery li i.fa-4x {
    font-size: 2.7em;
    padding: 20%; 
}

