.blog-tabs { 
	position: relative; 
	clear: both;
	margin: 0; 
	padding: 2.4em 0 0 0; 
} 

.blog-tabs li, .blog-tabs li:after { 
	position: absolute; 
	background: #fff; 
} 

.blog-tabs li { 
	width: 100%; 
	list-style: none; 
	padding: 2.8em 1.8em 2.8em; 
	background-color: #f8f8f8; 
	border-bottom: 0.25em solid #e5e6e6;
} 

.blog-tabs li:after { 
	content: attr(data-tab); 
	top: -4.1em;
	left: -0.08em;
	width: 18%; 
	line-height: 4.1em; 
	text-align: center; 
	cursor: pointer;
	background-color: #62b9b0;
	color: #fff;
	font-weight: 700;	
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}

.blog-tabs li:nth-of-type(2):after { 
	left: 19.4%; 
} 

.blog-tabs li:nth-of-type(3):after { 
	left: 38.8%; 
	background-color: #e2534b;
} 

.blog-tabs li:nth-of-type(4):after {
	left: 58.2%;
}

.blog-tabs li:hover:after { 
	background-color: #f8f8f8; 
	color: inherit;
} 

.blog-tabs li:after, .blog-tabs li:hover, .blog-tabs li:nth-of-type(1) { 
	z-index: 1; 
}

.blog-tabs p {
	float: left;
	max-width: 68%;
	font-size: 0.83em;
}

.tab-img {
	display: inline-block;
	float: left;
	margin-left: 3.3em;
	background-color: #fff;
	border-radius: 0.4em;
	width: 22.2%;
	height: 9.2em;
}

.tab-img .fa {
	font-size: 2.8em;
	padding: 22% 0 0 38%;
}