.top-panel {
	clear: both;
	background-color: #ececec;
	height: 6.7em;
}

.top-panel h2 {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1.5em;
	margin: 1.5em auto;
}

.top-panel a, .top-panel span {
	display: inline-block;
	margin: 2.5em auto;
/*	vertical-align: baseline;*/
}

.top-panel a, .top-panel span {
	float: right;
	color: #7f8c8c;
	text-decoration: none;
}

.top-panel span {
	margin: 2.6em 0.5em;
}

.triangle {
	margin-left: 11%;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1.1em 1em 0 1em;
	border-color: #ececec transparent transparent transparent;
}



